%table
  %tr
    %th Authority
    %th Rent
    %th Other
    %th Total
    %th Households
  - @social_housings.each do |social_housing|
    %tr
      %td= social_housing.electoral_code
      %td= social_housing.council_rent
      %td= social_housing.other_rent
      %td= social_housing.total_rent
      %td= social_housing.households

