%table
  %tr
    %th Authority
    %th Person council rent
    %th Person other rent
    %th Person total rent
    %th Household council rent
    %th Household other rent
    %th Household total rent
  - @social_housings.each do |social_housing|
    %tr
      %td= social_housing.local_authority.name
      %td= social_housing.person_council_rent
      %td= social_housing.person_other_rent
      %td= social_housing.person_total_rent
      %td= social_housing.household_council_rent
      %td= social_housing.household_other_rent
      %td= social_housing.household_total_rent

