.la-show
  %header
    %h1=@local_authority.name

  %section.row
    .house{:class => "icon-home-1"}
    .stat
      = try(@households)
      .type
        Households in
        =@local_authority.name

  %section.row
    .large-12.columns
      %hr
    .stat.social.sm
      = try(@social_housing)
      .type
        Social housing households
      .compare
        %h2 % of social housing compared to total households
        %dl
          %dt=@local_authority.name
          %dd
            .line{ data: { percentage: @local_authority_percentage_households } }
            .line-full
            %span=try_percentage(@local_authority_percentage_households)

      .average
        %dl
          %dt National average
          %dd
            .line{ data: { percentage: @social_housing_average_households } }
            .line-full
            %span=try_percentage(@social_housing_average_households)

    .stat.homeless.sm
      = try(@number_of_homeless)
      .type
        Homeless households
      .compare
        %h2 % of homeless households compared to total households
        %dl
          %dt=@local_authority.name
          %dd
            .line{ data: { percentage: @local_authority_percentage_homeless } }
            .line-full
            %span=try_percentage(@local_authority_percentage_homeless)
      .average
        %dl
          %dt National average
          %dd
            .line{ data: { percentage: @homeless_average } }
            .line-full
            %span=try_percentage(@homeless_average)

  %section.need-fulfilled
    .row
      .large-12.columns
        %hr
      .row
        .large-8.columns
          .stat
            .house-scale
              = try(@total_need)
            .type
              Households in need of social housing
          .stat
            .house-scale
              = try(@social_housing)
            .type
              Houses available
          .row
            .large-12.columns
              .stat.compare
                %h2 % of need fulfilled for social housing
                %dl
                  %dt=@local_authority.name
                  %dd
                    .line{ data: { percentage: @local_authority_percentage_need } }
                    .line-full
                    %span=try_percentage(@local_authority_percentage_need)
              .stat.average
                %dl
                  %dt National average
                  %dd
                    .line{ data: { percentage: @need_average } }
                    .line-full
                    %span=try_percentage(@need_average)

        .stat.large-4.sold.sm
          .house-scale.color
            = try(@local_authority_houses_sold)
          .type
            Social housing houses sold
          .compare
            %h2 % of total social housing stock sold
            %dl
              %dt=@local_authority.name
              %dd
                .line{ data: { percentage: @local_authority_percentage_houses_sold } }
                .line-full
                %span=try_percentage(@local_authority_percentage_houses_sold)

          .average
            %dl
              %dt National average
              %dd
                .line{ data: { percentage: @houses_sold_average } }
                .line-full
                %span=try_percentage(@houses_sold_average)

